
body,
html{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
.container{
    width: 100%;
    background-color: #1f2937;
    display: flex;
    gap: 3px;
    align-items: center;
    flex-wrap: wrap;
  
}
.item{
    flex: 1
}
.hero{
    font-weight: lighter;
    font-size: 35px;
    word-spacing: -20px;
    margin-left: 10px;
    line-height: 36px;
    color: #e5e7eb;
}
.hero .emphasis{
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: bolder;
    font-style: normal;
    color: #f9faf8;
}
div{
    width:400px;
 
}
.links{
    display: flex;
    list-style: none;

}
.link-1{
    flex:2;
}
.link-2,
.link-3{
    flex: 1;
}
a:active,
a:visited,
a:focus{
    color: #e5e7eb;
}
